html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

h1, h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bolder;
  color: #3f1622;
}

figcaption, p, blockquote, li, dt, dd, small {
  color: #222;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

ol {
  list-style-type: lower-greek;
}

a {
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

strong {
  font-weight: normal;
}

cite {
  font-size: .8rem;
}

p:first-of-type {
  font-weight: bold;
  font-size: 1.125rem;
}

.thislist {
  list-style-type: none;
}

dt {
  font-weight: bold;
}

dt:first-of-type {
  font-style: italic;
  font-weight: normal;
}

dt > dd {
  font-weight: bold;
  font-style: normal;
  text-align: left;
}

dd > data {
  font-weight: normal;
  text-indent: .8em;
}

ul li {
  list-style-type: circle;
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}
